<div class='modal-dialog modal-lg' role='document'>
  <div class='modal-content'>
    <div class='modal-header'>
      <h5 class='modal-title' id='memberDetailModalLabel'>Member Details</h5>
      <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
      </button>
    </div>
    <div class='modal-body'>
      <p>
        <strong>First name:</strong>
        <%= @member.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @member.last_name %>
      </p>

      <p>
        <strong>Contact number:</strong>
        <%= @member.contact_number %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @member.email %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @member.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @member.state %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @member.country %>
      </p>

      <p>
        <strong>Zipcode:</strong>
        <%= @member.zipcode %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @member.address %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @member.gender %>
      </p>

      <p>
        <strong>Date of birth:</strong>
        <%= @member.date_of_birth %>
      </p>
    </div>
    <div class='modal-footer'>
      <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
    </div>
  </div>
</div>
