<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @member.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @member.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @member.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<%= link_to 'Edit', edit_admin_member_path(@member) %> |
<%= link_to 'Back', admin_members_path %>
