<footer class='bg-primary text-white text-center text-lg-start fixed-bottom'>
  <!-- Grid container -->
  <div class='container'>
    <!--Grid row-->
    <div class='row'>
      <!--Grid column-->
      <div class='col-lg-6 col-md-12 mb-4 mb-md-0'>
        <h5 class='text-left pt-3'>GYM Content</h5>

        <p class="text-left">
          If you've ever given up on a fitness New Years Resolution, then you know that sticking to workout goals isn't always easy. Staying on track is mostly a mental game, so don't underestimate the power of workout motivation quotes. Seek out inspirational workout quotes that really resonate with you and you'll have something to focus on when you'd rather not push through another set.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class='col-lg-3 col-md-6 mb-4 mb-md-0'>
        <h5 class='text-uppercase pt-3'>Links</h5>

        <ul class='list-unstyled mb-0'>
          <li>
            <%= link_to 'Link 1', 'javascript.void(0)', class: 'text-white' %> 
          </li>
          <li>
            <%= link_to 'Link 2', 'javascript.void(0)', class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'Link 3', 'javascript.void(0)', class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'Link 4', 'javascript.void(0)', class: 'text-white' %>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class='col-lg-3 col-md-6 mb-4 mb-md-0'>
        <h5 class='text-uppercase mb-0 pt-3'>Links</h5>

        <ul class='list-unstyled'>
          <li>
            <%= link_to 'Link 1', 'javascript.void(0)', class: 'text-white' %> 
          </li>
          <li>
            <%= link_to 'Link 2', 'javascript.void(0)', class: 'text-white' %> 
          </li>
          <li>
            <%= link_to 'Link 3', 'javascript.void(0)', class: 'text-white' %> 
          </li>
          <li>
            <%= link_to 'Link 4', 'javascript.void(0)', class: 'text-white' %> 
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class='text-center p-3' style='background-color: rgba(0, 0, 0, 0.2);'>
    © 2020 Copyright:
    <%= link_to 'GYM.com', 'https://mdbootstrap.com/', class: 'text-white' %> 
  </div>
  <!-- Copyright -->
</footer>