<!DOCTYPE html>
<html>
  <head>
    <title>MyGym</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-bottom:17rem;">
    <%= render 'shared/header' %>
    <div class='container'>
      <div class='col-md-12'>
        <%= yield %>
    <%= render 'shared/footer'%>
      </div>
    </div>
  </body>
</html>
